<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <div class="loading-container">
      <i class="loading"></i> Loading...
    </div>

    <div class="demographics-chooser cf">
      <div class="demographic income">
        <div class="inside">
          Household income
        </div>
      </div>

      <div class="demographic non-white">
        <div class="inside">
          Non-white
        </div>
      </div>

      <div class="demographic population-density">
        <div class="inside">
          Population density
        </div>
      </div>

      <div class="demographic transit-public">
        <div class="inside">
          Public transit
        </div>
      </div>
    </div>

    <div id="green-line-map"></div>

  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>
        Line route and stop data provided by MetroTransit via the <a href="http://www.datafinder.org/" target="_blank">MetroGIS DataFinder</a>.

Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-green-line-demographics" target="_blank">Github</a>.</p>
    </div>
  </div>
</div>
