<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <div class="loading-container">
      <i class="loading"></i> Loading...
    </div>

    <div class="demographics-chooser cf">
      <div class="demographic income <%= (currentSet == 'income') ? 'active' : '' %>" data-set="income">
        <div class="inside">
          <div>Household income</div>
          <div class="caption">Median household income for each tract.</div>
          <div class="legend"></div>
        </div>
      </div>

      <div class="demographic white <%= (currentSet == 'white') ? 'active' : '' %>" data-set="white">
        <div class="inside">
          <div>Non-white</div>
          <div class="caption">Percentage of population that is non-white.</div>
          <div class="legend"></div>
        </div>
      </div>

      <div class="demographic pop <%= (currentSet == 'pop') ? 'active' : '' %>" data-set="pop">
        <div class="inside">
          <div>Population density</div>
          <div class="caption">Population per square X.</div>
          <div class="legend"></div>
        </div>
      </div>

      <div class="demographic transit <%= (currentSet == 'transit') ? 'active' : '' %>" data-set="transit">
        <div class="inside">
          <div>Public transit</div>
          <div class="caption">Percentage of population that uses public transportation to commute to work.</div>
          <div class="legend"></div>
        </div>
      </div>
    </div>

    <div class="map-container">
      <div class="tooltip-container">
        <div class="tooltip">
          <div class="stop-info"></div>
          <div class="tract-info"></div>
        </div>
      </div>

      <div id="green-line-map"></div>
    </div>

  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>
        Line route and stop data provided by MetroTransit via the <a href="http://www.datafinder.org/" target="_blank">MetroGIS DataFinder</a>.

Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-green-line-demographics" target="_blank">Github</a>.</p>
    </div>
  </div>
</div>
