<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <h3>Minnpost Green Line Demographics</h3>

    <div class="loading-container">
      <i class="loading"></i> Loading...
    </div>

    <div id="green-line-map"></div>

  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-green-line-demographics" target="_blank">Github</a>.</p>

    </div>
  </div>
</div>
