/**
 * Main styles for: minnpost-green-line-demographics
 */

$stroke-base: 0.004px;


// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Wrap everything for specificity
.mp .minnpost-green-line-demographics-container {

  .application-container {
    padding-top: 2em;
  }

  .loading-container {
    margin-bottom: 2em;
  }

  .demographics-chooser {
    margin-bottom: 2em;

    .demographic {
      text-align: center;
      width: 25%;
      float: left;

      &:hover {
        background-color: #F8F8F8;
        cursor: pointer;
      }

      &.active {
        background-color: #CCCCCC;
      }

      .inside {
        padding: 1em;
      }
    }

  }

  #green-line-map {
    width: 100%;
    height: 30em;

    .greenline-route {
      fill: transparent;
      stroke: #1D8C47;
      // Note that stroke width gets scaled with SVG transforms
      stroke-width: $stroke-base;
      stroke-linejoin: round;
      stroke-linecap: round;
    }

    .stop {
      fill: #C83D2D;
      stroke: #C83D2D;
      stroke-width: $stroke-base * 1.1;

      &.active {
        stroke-width: $stroke-base * 2;
      }
    }

    .census-tract {
      fill: #55307E;
      fill-opacity: 0.75;
      stroke: #55307E;
      stroke-opacity: 0.9;
      stroke-width: $stroke-base / 4;
    }

    .landmark-feature {
      fill: transparent;
      stroke: none;
      opacity: 0.7;
      stroke-width: $stroke-base / 4;
      stroke-linejoin: round;
      stroke-linecap: round;

      &.water {
        fill: #0793AB;
        opacity: 0.45;
      }

      &.landmark {
        fill: #ABABAB;
      }

      &.highway {
        stroke: #7A7A7A;
        stroke-width: $stroke-base / 2;
      }

      &.street {
        stroke: #ABABAB;
      }

      &.boundary {
        stroke: #404040;
      }
    }

    .voronoi-stops {
      fill: transparent;
      stroke-width: 0;
      stroke: none;
    }
  }

  // Custom breakpoints
  @media screen and (max-width: 768px) {
  }
}
