/**
 * Main styles for: minnpost-green-line-demographics
 */

// CSS-Clean which is used by the grunt-css-min module cuts off pixel
// decimal points, so we use em's.   :(
// https://github.com/GoalSmashers/clean-css/issues/287
$stroke-base: 0.0001em;


// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Wrap everything for specificity
.mp .minnpost-green-line-demographics-container {

  .application-container {
    padding-top: 2em;
  }

  .loading-container {
    margin-bottom: 2em;
  }

  .demographics-chooser {
    margin-bottom: 2em;

    .demographic {
      text-align: center;
      width: 25%;
      float: left;

      &:hover {
        background-color: #F8F8F8;
        cursor: pointer;
      }

      &.active {
        background-color: #CCCCCC;
      }

      .inside {
        padding: 1em;
      }

      .caption {
        min-height: 4em;
      }

      .legend {
        margin-top: .5em;

        .legend-block {
          display: inline-block;
          min-width: 10%;
          margin: 0 3px 3px 0;
          height: 2.25em;
          font-size: .75em;
          vertical-align: top;
        }
      }
    }
  }

  .map-container {
    position: relative;

    .tooltip-container {
      position: absolute;
      top: 0;
      right: 0;

      .tooltip {
        display: none;
        min-width: 200px;
        margin: .5em .5em 0 0;
        padding: .5em .5em;
        background-color: rgba(230, 230, 230, 0.85);
        border: 1px solid #7A7A7A;
        border-radius: 3px;
      }
    }
  }

  #green-line-map {
    width: 100%;
    height: 20em;
    pointer-events: none;

    .greenline-route {
      fill: transparent;
      stroke: #1D8C47;
      // Note that stroke width gets scaled with SVG transforms
      stroke-width: 0.00015em;
      stroke-linejoin: round;
      stroke-linecap: round;
    }

    .stop {
      fill: #C83D2D;
      stroke: #C83D2D;
      stroke-width: 0.0002em;

      &.active {
        fill: lighten(#C83D2D, 10);
        stroke: lighten(#C83D2D, 10);
        stroke-width: 0.0003em;
      }
    }

    .census-tract {
      fill: #FFFFFF;
      fill-opacity: 0.85;
      stroke: #FFFFFF;
      stroke-opacity: 0.75;
      stroke-width: 0.000025em;
      pointer-events: all;
    }

    .census-tract-outline {
      fill: none;
      stroke: #222222;
      stroke-width: 0.000025em;
    }

    .landmark-feature {
      fill: transparent;
      stroke: none;
      opacity: 0.7;
      stroke-width: 0.00005em;
      stroke-linejoin: round;
      stroke-linecap: round;

      &.water {
        fill: #0793AB;
        opacity: 0.45;
      }

      &.landmark {
        fill: #ABABAB;
        fill: none;
      }

      &.highway {
        stroke: #7A7A7A;
        stroke-width: 0.0001em;
      }

      &.street {
        stroke: #ABABAB;
      }

      &.boundary {
        stroke: #404040;
      }
    }

    .voronoi-stops {
      fill: transparent;
      stroke-width: 0;
      stroke: none;
      pointer-events: all;
    }
  }

  // Custom breakpoints
  @media screen and (max-width: 875px) {

    .demographics-chooser .demographic {
      width: 50%;
    }
  }

  @media screen and (max-width: 475px) {

    .demographics-chooser .demographic {
      width: 100%;

      .caption {
        min-height: 0;
      }
    }
  }
}
